@{
    ViewData["Title"] = "Home Page";
}



<div >
    <p>Test independent content</p>
</div>


<div ng-controller="MainController">
    <p>Controller without DRY directives</p>
    <ul>
        Hardcoded list iteration
        <li>{{ hardcodedList[0] }}</li>
        <li>{{ hardcodedList[1] }}</li>
        <li>{{ hardcodedList[2] }}</li>
    </ul>

    <h3>Things to do</h3>
    <ul>
        ng-repeat directive version
        <li ng-repeat="item in todo.list track by $index">{{ item }}</li>
    </ul>

    @*ng-model directive - binds the input to the variable addToDo
        - which is an attribute of the conntroller $scope and can
        be accessed again in html and in the MainController*@
    <input ng-model="addToDo" />
    @*ng-click is an event that triggers the function on the
        controller $scope*@
    <button ng-click="addItem(todo.list, addToDo)">Add this ToDo</button>

    <h3>Books ot buy</h3>
    <ul>
        <li ng-repeat="book in books.list track by $index">{{ book }}</li>
    </ul>
    <input ng-model="addBook" />
    <button ng-click="addItem(books.list, addBook)">Add Book</button>



    <p>Controller with DRY directives - less code than above, inputs are the same</p>
    <p>a</p>
    <singlelist mylist="todo"></singlelist>
    <p>b</p>
    <singlelist mylist="books"></singlelist>
    <p>c</p>
</div>

<div>
    <p>Test independent content 2</p>
</div>


<div>

</div>


@section Scripts {
    @*Modules*@
    <script src="~/js/app.js"></script>
    @*Controllers*@
    <script src="~/js/controllers/MainController.js"></script>
    @*Directives*@
    <script src="~/js/directives/singlelist.js"></script>
}