@{
    ViewData["Title"] = "Home Page";
}



<div >
    <p>Test independent content</p>
</div>

<div ng-controller="MainController">
    <ul>
        <li>{{ list[0] }}</li>
        <li>{{ list[1] }}</li>
        <li>{{ list[2] }}</li>
    </ul>

</div>

<div>
    <p>Test independent content 2</p>
</div>

@section Scripts {
    @*Modules*@
    <script src="~/js/app.js"></script>
    @*Controllers*@
    <script src="~/js/controllers/MainController.js"></script>
}